.App {
  text-align: center;
  display: flex
}

.history {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-history {
position: absolute;
top: 0px;
font-size: 15px;
background-color: lightblue;
padding: 7px 7px;
border-radius: 5px;
}

